.my-button {
    margin: 20px;
    padding: 10px 30px;
    width: max-content;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
}

.my-button:hover {
    background-color: chocolate;
    color: cornsilk;
}